.main_container{
  display: flex;
  width: 100%;
  margin-right:0px;
}

.grid_container{
  display: grid;
  width: 100%;
  margin: 2px;

}
.top_row {
  display: grid;
  grid-template-columns: 66% 33%;
  text-align: center;
  align-items: start;
}
  
.box_grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: start;
  margin-right: 0px;
  width: 100%;
  text-align: center;
  margin-top: 0px;
}



.title_box{
  color: red;
}

.big_picture{
  width: 50%;
  margin: 0px;
}

.big_picture img{
  width: 100%;
  height: 100%;
  float: left;
}
